*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f7fb;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{

background:white;

padding:40px;

width:500px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

text-align:center;

}

h1{

margin-bottom:20px;

color:#163b84;

}

input{

width:100%;

padding:15px;

border:2px solid #163b84;

border-radius:10px;

margin-bottom:20px;

font-size:16px;

}

button{

padding:15px 30px;

background:#163b84;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:17px;

}

button:hover{

background:#0d2555;

}

.message{

margin-top:20px;

color:red;

font-size:15px;

}